.Burger {
    width: 700px;
    height: 500px;
    margin: auto;
    overflow-y: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
    .Burger{
        width: 550px;
        height: 500px;
    }
} 
@media(max-width: 600px) {
    .Burger{
        width: 450px;
        height: 400px;
    }
} 
@media(max-width: 450px) {
    .Burger{
        width: 350px;
        height: 420px;
    }
} 
@media(max-width: 400px) {
    .Burger{
        width: 280px;
        height: 350px;
    }
} 
@media(min-width: 700px) and (min-height: 1000px) {
    .Burger{
        width: 650px;
        height: 60vh;
    }
}
@media(max-width: 400px) and (min-height: 800px) {
    .Burger{
        width: 350px;
        height: 410px;
    }
} 